@charset "utf-8";

body {
	background-color: #C9E8F1;
	color: #333333;
	font-family: "M PLUS Rounded 1c";
	transform: rotate(0.03deg);
}

h1 {
	font-size: 1.7rem;
	letter-spacing: -0.2rem;
	line-height: 1.2rem;
	margin: 10px 0 0 20px;
	text-align: center;
	text-shadow: -1px -1px 0 #FFFFFF, 0 -2px 0 #FFFFFF, 1px -1px 0 #FFFFFF, 2px 0 0 #FFFFFF, 1px 1px 0 #FFFFFF, 0 2px 0 #FFFFFF, -1px 1px 0 #FFFFFF, -2px 0 0 #FFFFFF,
	             1px 1px 3px #9CB5BC;
}

h1 a {
	color: #FFEE55;
	text-decoration: none;
}

h1 .prefix {
	display: block;
	font-size: 0.9rem;
	margin-left: -100px;
	transform: rotate(-7deg);
}

h1 .web {
	letter-spacing: normal;
}

header {
	border-bottom: 1px dashed #9CB5BC;
	margin: 0 auto;
	width: 97%;
}

header h2 {
	color: #0086AB;
	font-size: 0.75rem;
	font-weight: normal;
	text-align: center;
}

article, section {
	background-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 1px 1px 3px #9CB5BC;
	box-sizing: border-box;
	margin: 15px auto;
	padding: 15px;
	width: 97%;
}

article h2, section h2 {
	font-size: 1.2rem;
	margin: 0;
}

article time {
	color: #9CB5BC;
}

article h3 {
	background-color: #0086AB;
	box-shadow: 1px 1px 1px #C6C6C6;
	color: #FFFFFF;
	font-weight: normal;
	margin-left: -20px;
	padding: 5px 15px;
	position: relative;
}

article h3::before {
	border-bottom: 5px solid transparent;
	border-right: 5px solid #005E78;
	content: "";
	left: 0;
	position: absolute;
	top: 100%;
}

article p {
	margin: 2.0rem 0;
}

article p strong {
	background: linear-gradient(to bottom, #FFFFFF 50%, #FFEE55);
}

article figure {
	margin: 15px 5px;
}

article figure img {
	max-width: 100%;
}

article figure figcaption {
	font-size: 0.7rem;
	text-align: right;
}

article figure figcaption a {
	color: #9CB5BC;
}

article pre {
	max-width: 100%;
	overflow: auto;
}

footer {
	text-align: center;
}

footer a {
	color: #0086AB;
}

@media screen and (min-width: 769px) {

	h1 {
		font-size: 3.2rem;
		line-height: 2.2rem;
	}

	h1 .prefix {
		font-size: 1.4rem;
		margin-left: -200px;
	}

	header h2 {
		font-size: 1.0rem;
	}

	article, section {
		max-width: 730px;
		padding: 15px 20px;
	}

	article h3 {
		margin-left: -25px;
	}

}